<!-- API Javascript -->
<%= render partial: 'api/api_js' %>
<!-- End API Javascript -->

<!-- Chart_00 Javascript -->
<%= render partial: 'graphs/chart_00_js' %>
<!-- End Chart_00 Javascript -->

<!-- Start Total Users Chart Div -->
<div class="row">
	<!-- Start Chart Div SMALL -->
	<div class="show-for-small-only">
		<div id="chart_div_small_00"></div>
	</div>
	<!-- End Chart Div SMALL -->
	<!-- Start Chart Div MEDIUM -->
	<div class="show-for-medium-up">
		<div id="chart_div_big_00"></div>
	</div
	<!-- End Chart Div MEDIUM -->
	<div style="text-align: center;">
		<button id="chartRefresh" class="button round tiny info" onclick="Chart_00.draw_chart(Chart_00.current_size);return false;">Refresh</i>
	</div>

	<div style="text-align: center;position: relative; top: -250px">
		<i id="chartSpinner" class="fa fa-spinner fa-2x fa-spin" style="display:none"></i>
	</div>
</div>
<!-- End Chart Div -->
