<div id="big_chart_slider_box" height="600px" width="1100px" style="width: 600px; height: 1100px">
	<div id="chart_div_big_00">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
	<div id="chart_div_big_01">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
	<div id="chart_div_big_02">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
</div>
