<div id="big_chart_slider_box">

	<div>
	<div id="chart_div_big_00" style="background-image: url('/images/big_graph_placeholder.png'); background-size: 100% 100%; width: 100%; height: 500px;">
	</div>
	</div>

	<div>
	<div id="chart_div_big_01" style="display: none;">
	</div>
	</div>

	<div>
	<div id="chart_div_big_02" style="display: none;">
	</div>
	</div>

	<div>
	<div id="chart_div_big_03" style="display: none;">
	</div>

	<div id="geo_buttons" style="position: relative; height: 0; width: 0;">
		<div id="chart_div_big_03_but" style="position: absolute;top: -220px;left: 620px;display: none;">
			<ul class="stack button-group">
				<li class="button tiny round totalColor geoButtonSm" onclick="Chart_03.redraw_chart(0);return(false);">Total</li>
				<li class="button tiny round democratColor geoButtonSm" onclick="Chart_03.redraw_chart(1);return(false);">Dems</li>
				<li class="button tiny round republicanColor geoButtonSm" onclick="Chart_03.redraw_chart(2);return(false);">Reps</li>
				<li class="button tiny round neitherColor geoButtonSm" onclick="Chart_03.redraw_chart(3);return(false);">Other</li>
			</ul>
		</div>
	</div>

	</div>

</div>
