<div id="big_chart_slider_box">
	<div id="chart_div_big_00">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
	<div id="chart_div_big_01">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
	<div id="chart_div_big_02">
		<%= image_tag 'big_graph_placeholder.png' %>
	</div>
</div>
