<div id="small_chart_slider_box" style="height: 300; width: 340px">
	<div>
	<div id="chart_div_small_00">
		<%= image_tag 'small_graph_placeholder.png' %>
	</div>
	</div>

	<div>
	<div id="chart_div_small_01" style="display:none;">
		<%= image_tag 'small_graph_placeholder.png' %>
	</div>
	</div>
	<div>
	<div id="chart_div_small_02" style="display:none;">
		<%= image_tag 'small_graph_placeholder.png' %>
	</div>
	</div>
</div>
