<div id="small_chart_slider_box">
	<div>
	<div id="chart_div_small_00" style="background-image: url('/images/small_graph_placeholder.png'); background-size: 100% 100%; width: 100%; height: 300px;">
	</div>
	</div>

	<div>
	<div id="chart_div_small_01" style="display: none;">
	</div>
	</div>

	<div>
	<div id="chart_div_small_02" style="display: none;">
	</div>
	</div>
</div>
