<div>
	<!-- Pledge Panel -->
	<%= render partial: 'pages/home_details/pledge_panel' %>
	<!-- End Pledge Panel -->

	<!-- Pledge Panel JS -->
	<%= render partial: 'pages/home_details/pledge_panel_js' %>
	<!-- ENDPledge Panel JS -->

	<!-- API Javascript -->
	<%= render partial: 'api/api_js' %>
	<!-- End API Javascript -->
</div>
