<div>

	<%= link_to t(:LogInToParticipate), new_user_session_path %>

	<!-- ReadMore Button Panel JS -->
	<%= render partial: 'pages/home_details/read_more_panel_button' %>
	<!-- END ReadMore Button Panel JS -->
</div>
