<div class="panel">
	<div id="read_more_panel" class="row">
		<div id="read_more_button_box" class="small-12 medium-12 large-12 centered columns">
			<a href="https://blog.oftheabove.com" id="read_moreButton" class="button round"><%= t(:ReadMore) %></a>
		</div>
	</div>
</div>
