<div id="recommenders_panel" class="row">
	<div class="small-3 medium-3 large-3 columns friendGuageBox">
		<div id="friend_guage_sent" class="friendGuage"></div>
		<div id="recommenders_panel_xtra_00" class="row" style="position:relative;height:0;width:0;">
			<div style="position: absolute;top: -5.5em; left: 1.5em;width: 15em;">
				Invites&nbsp;
				<span id="friend_guage_sent_number" style="font-weight: bold;"></span>
			</div>
		</div>
	</div>
	<div id="recommenders_button_box" class="small-6 medium-6 large-6 columns recommenderBox">
		<a id="recommendersButton" href="#" data-reveal-id="recommendersModal" class="button round">Recommenders</a>
	</div>
	<div class="small-3 medium-3 large-3 columns friendGuageBox">
		<div id="friend_guage_confirmed" class="friendGuage"></div>
		<div id="recommenders_panel_xtra_01" class="row" style="position:relative;height:0;width:0;">
			<div style="position: absolute;top: -5.5em; left: 0.25em;width: 15em;">
				Confirmed&nbsp;
				<span id="friend_guage_confirmed_number" style="font-weight: bold;"></span>
			</div>
		</div>
	</div>
</div>
