<div class="large-12 small-12 medium-12 centered centered centered columns">
	<div id="zipcode_place" class="panel callout radius zipcode-place">
		<span id="zipcode_place_content">
			<% if current_user.place_name.nil? || current_user.state_abbreviation.nil? %>
				<script type="text/javascript">
					$('#zipcode_place').hide();
				</script>
			<% else %>
				<%= h("#{current_user.place_name}, #{current_user.state_abbreviation}") %>
			<% end %>
		</span>
  		<a href="#" class="zipcode-place-close" onclick="Api.reset_zipcode();return(false);">&times;</a>
	</div>
</div>
