<div>
	<div class="row">
		<div class="small-10 medium-6 large-6 small-offset-1 medium-offset-3 large-offset-3 columns">
			<div class="panel callout radius success">
  				<h3>Thank you for confirming!</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-6 large-6  small-offset-1 medium-offset-3 large-offset-3 columns">
			<div class="panel radius">
  				<h3>We really appreciate your help!</h3><br/><h5 style="padding-left: 4em;">Sincerely, Team Happy Trout</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-6 large-6 small-offset-1 medium-offset-3 large-offset-3  columns">
			<div class="panel radius warning">
				((Feel free to sign up and pledge, using the navigation bar above!))
			</div>
		</div>
	</div>
</div>
