#pledge_panel h4 {
	font-weight: bold;
}

#pledge_panel .pp_title {
	text-align: center;
}

#pledge_panel h5 {
	font-weight: bold;
	color: white;
}

#pledge_panel .columns {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

#pledge_panel .submitButton {
	text-align: center;
}

#pledge_panel .democratColor {
	background-color: #34AAE0;
	text-align: center;
}

#pledge_panel .republicanColor {
	background-color: #FF3333;
	text-align: center;
}

#pledge_panel .noVoteColor,
#pledge_panel .neitherColor {
	background-color: #730065;
	text-align: center;
}

#pledge_panel .noVoteColor {
	background-color: #FA7B00;
}

#pledge_panel .neitherRow {
	margin-top: 2.5em;
}

#pledge_panel .saveButton,
#pledge_panel .switch input:checked+label {
	background: #61B800;
}

.zipcode-field {
	max-width: 14em;
	margin-right: auto !important;
	margin-left: auto !important;
}

.zipcode-place {
	height: 1.5em;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right: 0.5em !important;
}

.zipcode-place-close {
	float: right;
	line-height: 1.3em;
}

.pledge-change-msg,
.zipcode-change-msg {
	font-size: 0.75em;
	text-align: center;
	font-style: italic;
}

.rec-invite-panel {
	margin-top: 1em !important;
}
	
.rec-invite,
.rec-search {
	font-size: 1.5em;
	padding: 0.05em;
}

.rec-invite {
	width: 70%;
	margin-right: 0.4em;
}
