<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p><h5>You are receiving this email because you signed up with None_Of_The_Above. To opt_out, click <%= link_to 'HERE', opt_out_url({email: @resource.email,locale: locale}) %> </h5></p>
